*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
body {
  font: 100% sans-serif;
  margin: 0em;
  background-color: #f3f4f5;
  color: #666;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

expLogo {
  width: 10px
}

a {
  color: #3d6dbe;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #6594e0;
}

p {
  font-size: 1em;
  line-height: 1.8;
  margin-top: 0em;
}

img {
  max-width: 100%;
}

.right-backround-img{
  position: absolute;
  top:0px;
  right; 0px;  
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: none;
  margin-top: 3em;
  margin-bottom: 2em;
}

.front {
  background-color: #343A40;
  background-image: url(https://cdn.glitch.com/4b2d7540-9cfb-4ae0-9c87-cb4795f3a6bd%2Fbright-bulb-dark-132340.jpg?v=1567395796285);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  height: 100vh;
  width: 100%;
   }


.front h1 {
  color: white;
  font-size: 2em;
  margin: 0;
  letter-spacing: 1px;
  opacity: 1;
  text-shadow: 0 3px 0 rgba(0,0,0, 0.5);
  position: relative;
  top: 75%;
  font-weight: 700;
}

.front p {
  color: #ffffff;
  font-size: 1.1em;
  padding-bottom: 1.3em;
  padding-top: .5em;
  opacity: .9;
  position: relative;
  top: 75%;
}

.chevron {
  position: absolute;
  top: 90%;
  left: calc(50% - 10px);
  width: 20px;
  height: 4px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
  transition-delay: 2s;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}



.navbar {
 border-style:outset; 
 
}


section h1 {
  font-size: 1.8em;
  line-height: 1em;
  margin-bottom: .6em;
}

/* Same font-size and line-height as p element */
section ul li, section ol li {
  font-size: 1em;
  margin-left: -10px;
  line-height: 1.8;
}

footer {
  margin-bottom: 1em;
  color: #888;
}

footer hr {
  margin-top: 2em;
  margin-bottom: 1em;
}

.center {
  text-align: center;
}

@media screen and (min-width: 50em) {
  header {
    height: 700px;
    top:70%;
  }
  
  header h1 {
    font-size: 3.2em;
    top: 70%;
  }
  
  header p {
    top: 70%;
    font-size: 1.5em;
  }
}


/* ------------------- Grid -------------------*/

.container {
  max-width: 50em;
  width:92%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  clear: both;
  margin-right: -1%;
  margin-left:  -1%;
  
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

/**
 * For IE 6/7 only
 */
.row {
  *zoom: 1;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
  float: left;
  width:100%;
  padding: 0 1%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 40em) {
  .grid-1 { width: 16.6666666%; }
  .grid-2 { width: 33.3333333%; }
  .grid-3 { width: 50%; }
  .grid-4 { width: 66.6666666%; }
  .grid-5 { width: 83.3333333%; }
  .grid-6 { width: 100%; }

}

/* -------------------Custom Blocks----------------- */


/* Introduction */
.introduction {
padding: 3em 1em;
  min-height: 100vh;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1) 90% ), url(https://cdn.glitch.com/4b2d7540-9cfb-4ae0-9c87-cb4795f3a6bd%2FEquilend_E_0007.jpg?v=1567391069482);
  background-color:linear-gradient( rgba(0, 0, 0, 1), rgba(52, 58, 64, 1)),#343a40);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% 100%,cover;
  background-blend-mode: darken;
  background-attachment: fixed;  
  color:#FFFFFF;
  }

.introduction [class*="row"] {
  border-bottom: dotted 1px #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
}

.introduction h2 {
  margin-bottom: 0;
}

.introduction h2, .experience p {
  text-align: center;
}

.introduction [class*="row"]:last-of-type {
  border: none;
}

@media only screen and (min-width: 768px){
  
  .introduction {
  vertical-align: middle;
  background: linear-gradient(to right, #FFFFFF, #343a40 550px), url(https://cdn.glitch.com/4b2d7540-9cfb-4ae0-9c87-cb4795f3a6bd%2FEquilend_E_0007.jpg?v=1567391069482);
  background-color:linear-gradient( rgba(0, 0, 0, 1), rgba(52, 58, 64, 1)),#343a40);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 100% 100%,contain;
  background-blend-mode: darken;
  background-attachment: fixed;  
  }
  
  .introduction h2, .introduction p {
    text-align: center;
    
  }
}




/* Experience */
.experience {
  padding: 3em 1em;
  min-height: 100vh;
  vertical-align: middle;
  text-align: center;
  background-color:#606b76;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) ), url(https://cdn.glitch.com/4b2d7540-9cfb-4ae0-9c87-cb4795f3a6bd%2Fblur-chart-data-159888%20Flip.jpg?v=1567465397294);
  background-position: top right;
  background-repeat: no-repeat;
   background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
  color:#FFFFFF
}

.experience [class*="row"] {
  border-bottom: dotted 1px #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
}

.experience h2 {
  margin-bottom: 0;
}

.experience h2, .experience p {
  text-align: center;
}

.experience [class*="row"]:last-of-type {
  border: none;
}

@media screen and (min-width: 40em) {
  .experience h2, .experience p {
    text-align: center;
  }
}


/* Education Block */



.education {
  padding: 3em 1em;
  vertical-align: middle;
  text-align: center;
  min-height: 100vh;
  background-color:#dee1e4;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) ), url(https://cdn.glitch.com/4b2d7540-9cfb-4ae0-9c87-cb4795f3a6bd%2FLSE%20Graduation.jpg?v=1567488814669);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
  color:#FFFFFF
  }

.education [class*="row"] {
  border-bottom: dotted 1px #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
}

.education h2 {
  margin-bottom: 0;
}

.education h2, .education p {
  text-align: center;
}

.education [class*="row"]:last-of-type {
  border: none;
}

@media screen and (min-width: 40em) {
  .education h2, .education p {
    text-align: center;
  }
}

.role {
  color:#FFFFFF
  content  
}



/* interests Block */

.interests {
  min-height: 100vh;
  padding: 5em 1em;
  text-align: center;
  vertical-align: middle;
  background-color:#f3f4f5;
}

.interests [class*="row"] {
  border-bottom: dotted 1px #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
}

.interests h2 {
  margin-bottom: 0;
}

.interests h2, .interests p {
  text-align: center;
}

.interests [class*="row"]:last-of-type {
  border: none;
}

@media screen and (min-width: 40em) {
  .interests h2, .interests p {
    text-align: center;
  }
}


.fa-linkedin:hover {
  border: .5px solid #006097;
    background: #006097;
    background-position: left bottom;
    background-position-x: left;
    background-position-y: bottom;
    color: #fff!important;
    transition: all 0.8s ease;
}

.fa-envelope:hover {
      border: .5px solid #008744;
    background: #008744;
    background-position: left bottom;
    background-position-x: left;
    background-position-y: bottom;
    color: #fff!important;
  transition: all 0.8s ease;
  }


.pdf:hover{
      border: .5px solid #ff7070;
    background: #ff7070;
    background-position: left bottom;
    background-position-x: left;
    background-position-y: bottom;
    color: #fff!important;
    transition: all 0.8s ease;
}

.fa-github:hover{
      border: .5px solid black;
    background: black;
    background-position: left bottom;
    background-position-x: left;
    background-position-y: bottom;
    color: #fff!important;
    transition: all 0.8s ease;
}


.intro{
  padding: 30px;
  font-size: 15px;
  width: 80px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  margin-left: 10px;
  border: .5px solid #cfd1d1;
    border-top-color: rgb(207, 209, 209);
    border-top-style: solid;
    border-top-width: 0.5px;
    border-right-color: rgb(207, 209, 209);
    border-right-style: solid;
    border-right-width: 0.5px;
    border-bottom-color: rgb(207, 209, 209);
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-left-color: rgb(207, 209, 209);
    border-left-style: solid;
    border-left-width: 0.5px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;  
}

.mini {
  padding: 5px;
  font-size: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: black;
  margin-left: 5px;
}

/* Collapsible read more elements */

/* JCDecaux */

.wrap-collabsible-JCD {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle-JCD {
  display: block;

  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;

  padding: 1rem;

  color: #cfd1d1;
  
  border: .5px solid #cfd1d1;
  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle-JCD:hover {
  color: white;
}

.lbl-toggle-JCD::before {
  content: ' ';
  display: inline-block;
  
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle-JCD:checked + .lbl-toggle-JCD::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content-JCD {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle-JCD:checked + .lbl-toggle-JCD + .collapsible-content-JCD {
  max-height: 100%;
}

.toggle-JCD:checked + .lbl-toggle-JCD {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content-JCD .content-inner-JCD {
  background: rgba(207, 209, 209, .2);
  border-bottom: 1px solid white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
  text-align: left;
}

/* DataLend */

.wrap-collabsible-DL {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle-DL {
  display: block;

  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;

  padding: 1rem;

  color: #cfd1d1;
  
  border: .5px solid #cfd1d1;
  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle-DL:hover {
  color: white;
}

.lbl-toggle-DL::before {
  content: ' ';
  display: inline-block;
  
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle-DL:checked + .lbl-toggle-DL::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content-DL {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle-DL:checked + .lbl-toggle-DL + .collapsible-content-DL {
  max-height: 100%;
}

.toggle-DL:checked + .lbl-toggle-DL {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content-DL .content-inner-DL {
  background: rgba(207, 209, 209, .2);
  border-bottom: 1px solid white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
  text-align: left;
}

/* SWAPS */

.wrap-collabsible-SW {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle-SW {
  display: block;

  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;

  padding: 1rem;

  color: #cfd1d1;
  
  border: .5px solid #cfd1d1;
  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle-SW:hover {
  color: white;
}

.lbl-toggle-SW::before {
  content: ' ';
  display: inline-block;
  
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle-SW:checked + .lbl-toggle-SW::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content-SW {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle-SW:checked + .lbl-toggle-SW + .collapsible-content-SW {
  max-height: 100%;
}

.toggle-SW:checked + .lbl-toggle-SW {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content-SW .content-inner-SW {
  background: rgba(207, 209, 209, .2);
  border-bottom: 1px solid white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
  text-align: left;
}


/* EquiLend */

.wrap-collabsible-EL {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle-EL {
  display: block;

  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;

  padding: 1rem;

  color: #cfd1d1;
  
  border: .5px solid #cfd1d1;
  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle-EL:hover {
  color: white;
}

.lbl-toggle-EL::before {
  content: ' ';
  display: inline-block;
  
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle-EL:checked + .lbl-toggle-EL::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content-EL {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle-EL:checked + .lbl-toggle-EL + .collapsible-content-EL {
  max-height: 100%;
}

.toggle-EL:checked + .lbl-toggle-EL {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content-EL .content-inner-EL {
  background: rgba(207, 209, 209, .2);
  border-bottom: 1px solid white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
  text-align: left;
}

/* Lehman */

.wrap-collabsible-LB {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle-LB {
  display: block;

  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;

  padding: 1rem;

  color: #cfd1d1;
  
  border: .5px solid #cfd1d1;
  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle-LB:hover {
  color: white;
}

.lbl-toggle-LB::before {
  content: ' ';
  display: inline-block;
  
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle-LB:checked + .lbl-toggle-LB::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content-LB {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle-LB:checked + .lbl-toggle-LB + .collapsible-content-LB {
  max-height: 100%;
}

.toggle-LB:checked + .lbl-toggle-LB {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content-LB .content-inner-LB {
  background: rgba(207, 209, 209, .2);
  border-bottom: 1px solid white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
  text-align: left;
}
/* --------------------- */