*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
body {
  font: 100% sans-serif;
  margin: 0em;
  background-color: #f3f4f5;
  color: #666;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

expLogo {
  width: 10px
}

a {
  color: #3d6dbe;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #6594e0;
}

p {
  font-size: 1em;
  line-height: 1.8;
  margin-top: 0em;
}

img {
  max-width: 100%;
}

.right-backround-img{
  position: absolute;
  top:0px;
  right; 0px;  
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: none;
  margin-top: 3em;
  margin-bottom: 2em;
}

header {
  background-color: #343A40;
  background-image: url(https://cdn.glitch.com/4b2d7540-9cfb-4ae0-9c87-cb4795f3a6bd%2Fbright-bulb-dark-132340.jpg?v=1567395796285);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: ;
  text-align: center;
  height: 500px;
 }

.navbar {
 border-style:outset; 
 
}

header h1 {
  color: white;
  font-size: 2em;
  margin: 0;
  letter-spacing: 1px;
  opacity: 1;
  text-shadow: 0 3px 0 rgba(0,0,0, 0.5);
  position: relative;
  top: 370px;
  font-weight: 700;
}

header p {
  color: #ffffff;
  font-size: 1.1em;
  padding-bottom: 1.3em;
  padding-top: .5em;
  opacity: .9;
  position: relative;
  top: 360px;
}

section h1 {
  font-size: 1.8em;
  line-height: 1em;
  margin-bottom: .6em;
}

/* Same font-size and line-height as p element */
section ul li, section ol li {
  font-size: 1em;
  margin-left: -10px;
  line-height: 1.8;
}

footer {
  margin-bottom: 1em;
  color: #888;
}

footer hr {
  margin-top: 2em;
  margin-bottom: 1em;
}

.center {
  text-align: center;
}

@media screen and (min-width: 50em) {
  header {
    height: 700px;
    top:80%;
  }
  
  header h1 {
    font-size: 3.2em;
    top: 80%;
  }
  
  header p {
    top: 80%;
    font-size: 1.5em;
  }
}


/* ------------------- Grid -------------------*/

.container {
  max-width: 50em;
  width:92%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  clear: both;
  margin-right: -1%;
  margin-left:  -1%;
  
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

/**
 * For IE 6/7 only
 */
.row {
  *zoom: 1;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
  float: left;
  width:100%;
  padding: 0 1%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 40em) {
  .grid-1 { width: 16.6666666%; }
  .grid-2 { width: 33.3333333%; }
  .grid-3 { width: 50%; }
  .grid-4 { width: 66.6666666%; }
  .grid-5 { width: 83.3333333%; }
  .grid-6 { width: 100%; }

}

/* -------------------Custom Blocks----------------- */


/* Introduction */
.introduction {
padding: 3em 1em;
  min-height: 100vh;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1) 90% ), url(https://cdn.glitch.com/4b2d7540-9cfb-4ae0-9c87-cb4795f3a6bd%2FEquilend_E_0007.jpg?v=1567391069482);
  background-color:linear-gradient( rgba(0, 0, 0, 1), rgba(52, 58, 64, 1)),#343a40);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% 100%,cover;
  background-blend-mode: darken;
  background-attachment: fixed;  
  color:#FFFFFF;
  }

.introduction [class*="row"] {
  border-bottom: dotted 1px #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
}

.introduction h2 {
  margin-bottom: 0;
}

.introduction h2, .experience p {
  text-align: center;
}

.introduction [class*="row"]:last-of-type {
  border: none;
}

@media only screen and (min-width: 768px){
  
  .introduction {
  vertical-align: middle;
  background: linear-gradient(to right, #FFFFFF, #343a40 550px), url(https://cdn.glitch.com/4b2d7540-9cfb-4ae0-9c87-cb4795f3a6bd%2FEquilend_E_0007.jpg?v=1567391069482);
  background-color:linear-gradient( rgba(0, 0, 0, 1), rgba(52, 58, 64, 1)),#343a40);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 100% 100%,contain;
  background-blend-mode: darken;
  background-attachment: fixed;  
  }
  
  .introduction h2, .introduction p {
    text-align: center;
    
  }
}




/* Experience */
.experience {
  padding: 3em 1em;
  min-height: 100vh;
  vertical-align: middle;
  text-align: center;
  background-color:#606b76;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) ), url(https://cdn.glitch.com/4b2d7540-9cfb-4ae0-9c87-cb4795f3a6bd%2Fblur-chart-data-159888%20Flip.jpg?v=1567465397294);
  background-position: top right;
  background-repeat: no-repeat;
   background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
  color:#FFFFFF
}

.experience [class*="row"] {
  border-bottom: dotted 1px #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
}

.experience h2 {
  margin-bottom: 0;
}

.experience h2, .experience p {
  text-align: center;
}

.experience [class*="row"]:last-of-type {
  border: none;
}

@media screen and (min-width: 40em) {
  .experience h2, .experience p {
    text-align: center;
  }
}


/* Education Block */



.education {
  padding: 3em 1em;
  vertical-align: middle;
  text-align: center;
  min-height: 100vh;
  background-color:#dee1e4;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) ), url(https://cdn.glitch.com/4b2d7540-9cfb-4ae0-9c87-cb4795f3a6bd%2FLSE%20Graduation.jpg?v=1567488814669);
  background-position: top;
  background-repeat: no-repeat;
   background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
  color:#FFFFFF
  }

.education [class*="row"] {
  border-bottom: dotted 1px #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
}

.education h2 {
  margin-bottom: 0;
}

.education h2, .education p {
  text-align: center;
}

.education [class*="row"]:last-of-type {
  border: none;
}

@media screen and (min-width: 40em) {
  .education h2, .education p {
    text-align: center;
  }
}

.role {
  color:#FFFFFF
  content  
}



/* interests Block */

.interests {
  min-height: 100vh;
  padding: 5em 1em;
  text-align: center;
  vertical-align: middle;
  background-color:#f3f4f5;
}

.interests [class*="row"] {
  border-bottom: dotted 1px #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
}

.interests h2 {
  margin-bottom: 0;
}

.interests h2, .interests p {
  text-align: center;
}

.interests [class*="row"]:last-of-type {
  border: none;
}

@media screen and (min-width: 40em) {
  .interests h2, .interests p {
    text-align: center;
  }
}


.read-more {
  font-size: 14px;
  line-height: 1.5;
}

.read-more p.collapse:not(.show) {
    height: 42px !important;
    overflow: hidden;
  
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

.read-more p.collapsing {
    min-height: 42px !important;
}

.read-more a.collapsed:after  {
    content: '+ Read More';
}

.read-more a:not(.collapsed):after {
    content: '- Read Less';
}


.fa-linkedin:hover {
  border: .5px solid #006097;
    background: #006097;
    background-position: left bottom;
    background-position-x: left;
    background-position-y: bottom;
    color: #fff!important;
    transition: all 0.8s ease;
}

.fa-envelope:hover {
      border: .5px solid #008744;
    background: #008744;
    background-position: left bottom;
    background-position-x: left;
    background-position-y: bottom;
    color: #fff!important;
  transition: all 0.8s ease;
  }


.fa-file:hover{
      border: .5px solid #ff7070;
    background: #ff7070;
    background-position: left bottom;
    background-position-x: left;
    background-position-y: bottom;
    color: #fff!important;
    transition: all 0.8s ease;
}

.fa-github:hover{
      border: .5px solid black;
    background: black;
    background-position: left bottom;
    background-position-x: left;
    background-position-y: bottom;
    color: #fff!important;
    transition: all 0.8s ease;
}


.intro{
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  margin-left: 10px;
  border: .5px solid #cfd1d1;
    border-top-color: rgb(207, 209, 209);
    border-top-style: solid;
    border-top-width: 0.5px;
    border-right-color: rgb(207, 209, 209);
    border-right-style: solid;
    border-right-width: 0.5px;
    border-bottom-color: rgb(207, 209, 209);
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-left-color: rgb(207, 209, 209);
    border-left-style: solid;
    border-left-width: 0.5px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;  
}

.mini {
  padding: 5px;
  font-size: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: black;
  margin-left: 5px;
}
