*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
body {
  font: 100% sans-serif;
  margin: 0em;
  background-color: #f3f4f5;
  color: #666;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  }

h2{
 color:#cfd1d1;
 text-align: center;
 font-size: 1em;
  position: relative;
}

expLogo {
  width: 10px
}

a {
  color: #3d6dbe;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #6594e0;
}

p {
  font-size: 1em;
  line-height: 1.8;
  margin-top: 0em;
  text-align: left;
}

img {
  max-width: 100%;
}

.right-backround-img{
  position: absolute;
  top:0px;
  right; 0px;  
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: none;
  margin-top: 3em;
  margin-bottom: 2em;
}

 .scroll-down { 
  height: 80px; 
  width: 100%;
   right: 0px;
  display: block; 
  position: absolute;
  bottom: 0px;
  text-align: center;
  z-index: 6;
	color: #FFFFFF; 
	font-size: 30px; 
	padding-right: 2px; 
	padding-top: 20px; 
	animation-name: wiggle;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}
.scroll-down:hover{ 
  padding-top: 25px; 
  color: #F4DD9F;
  animation;
  text-decoration: none;
  transition: all 0.8s ease;
  animation:none;
}


@keyframes wiggle {
	0% {
		padding-top: 20px;
	}

	50% {
		padding-top: 28px;
	}

	100% {
		padding-top: 20px;
	}
}

.front {
  background-color: #343A40;
  background-image: url(https://cdn.glitch.com/4b2d7540-9cfb-4ae0-9c87-cb4795f3a6bd%2Fimage.png?v=1568092806641);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  height: 100vh;
  width: 100%;

   }

.front h1 {
  color: white;
  font-size: 2em;
  margin: 0;
  letter-spacing: 1px;
  opacity: 1;
  text-shadow: 0 3px 0 rgba(0,0,0, 0.5);
  position: relative;
  top: 68%;
  font-weight: 700;
}

.front h2 {
  color: white;
  font-size: 1.1em;
  padding-bottom: 1.3em;
  padding-top: .5em;
  opacity: .9;
  position: relative;
  top: 65%;
}

.chevron {
  position: absolute;
  top: 90%;
  left: calc(50% - 10px);
  width: 20px;
  height: 4px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
  transition-delay: 2s;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #fff;
}

.chevron:before {
  left: calc(50% - 10px);
  transform: skew(0deg, 30deg);
}

.chevron:after {
 right: calc(50% - 10px);
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}


.navbar {
 border-style:outset; 
}


section h1 {
  font-size: 1.8em;
  line-height: 1em;
  margin-bottom: .6em;
}

/* Same font-size and line-height as p element */
section ul li, section ol li {
  font-size: 1em;
  margin-left: -10px;
  line-height: 1.8;
}

footer {
  margin-bottom: 1em;
  color: #888;
}

footer hr {
  padding-top: 8px;
  margin-top: 0;
  margin-bottom: 1em;
}

.center {
  text-align: center;
}

@media screen and (min-width: 50em) {
  header {
    height: 700px;
    top:70%;
  }
  
  header h1 {
    font-size: 3.2em;
    top: 70%;
  }
  
  header p {
    top: 70%;
    font-size: 1.5em;
  }
}


/* ------------------- Grid -------------------*/




.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
  float: left;
  width:100%;
  padding: 0 1%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 40em) {
  .grid-1 { width: 16.6666666%; }
  .grid-2 { width: 33.3333333%; }
  .grid-3 { width: 50%; }
  .grid-4 { width: 66.6666666%; }
  .grid-5 { width: 83.3333333%; }
  .grid-6 { width: 100%; }

}

/* -------------------Custom Blocks----------------- */


/* Introduction */

.introduction {
  padding-top:300px;
  height: 110vh;
  text-align: center;
  vertical-align: left;
  background: linear-gradient(rgba(52, 58, 64, .3), rgba(52, 58, 64, 1)),url(https://cdn.glitch.com/4b2d7540-9cfb-4ae0-9c87-cb4795f3a6bd%2FEquilend_E_0007.jpg?v=1567391069482);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%, cover;
  background-blend-mode: darken;
  color:#FFFFFF;
  }

@media (min-width: 768px){
  
  .introduction {
  vertical-align: middle;
  min-height: 100vh;
  padding-top: 100px;
  background: linear-gradient(to right, #FFFFFF, #343a40 600px), url(https://cdn.glitch.com/4b2d7540-9cfb-4ae0-9c87-cb4795f3a6bd%2FEquilend_E_0007.jpg?v=1567391069482);
  background-color:linear-gradient( rgba(0, 0, 0, 1), rgba(52, 58, 64, 1)),#343a40);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 100% 100%, contain;
  background-blend-mode: darken;
  background-attachment: fixed;  
  }
  
  .introduction h2, .introduction p {
    text-align: left;
    
  }
}


.intro{
  padding: 33px;
  font-size: 15px;
  width: 80px;
  height: 80px;
  text-align: left;
  vertical-align: left;
  text-decoration: none;
  border-radius: 50%;
  background: transparent;
  color: white;
  margin: 10px 10px;
  position: relative;
  left: 0px;
  float:left;
  border: .5px solid #cfd1d1;
    border-top-color: rgb(207, 209, 209);
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: rgb(207, 209, 209);
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: rgb(207, 209, 209);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: rgb(207, 209, 209);
    border-left-style: solid;
    border-left-width: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;  
  }

.intro p {
  left: 0px
}

.link{
  text-align: left;
  align-items: middle;
  margin-top: 37px;
}

/* SKILLS */
#attributes {
  text-align: center
}

#abilities ul > li { min-height: 30px; padding: 5px 5px; }
#abilities ul > li:hover { background: #22A39F; }
#abilities ul > li .ability-title { display: inline-block; width: 60%; }
#abilities ul > li .ability-score { float: right; }
#abilities ul > li .ability-score .fa { 
	color: white; 
	font-size: 14px; 
	 	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#abilities ul > li .ability-score .glyphicon.filled { color: #22A39F; }
#abilities ul > li:hover .ability-score .glyphicon { margin-left: 0px; } 

.list{
  padding-top: 20px;
}

ul.no-bullets { list-style-type: none; margin: 0px; padding: 0px; }


.skills {
  min-height: 80vh;
  padding: 3em 1em;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1) ), url(https://cdn.glitch.com/4b2d7540-9cfb-4ae0-9c87-cb4795f3a6bd%2Farchitect-architecture-black-and-white-1537008.jpg?v=1568271366208);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  color:#FFFFFF
  }


/* Experience */

.experience {
  padding: 3em 1em;
  min-height: 100vh;
  vertical-align: middle;
  text-align: left;
  background-color:#606b76;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) ), url(https://cdn.glitch.com/4b2d7540-9cfb-4ae0-9c87-cb4795f3a6bd%2Fblur-chart-data-159888%20Flip.jpg?v=1567465397294);
  background-position: top right;
  background-repeat: repeat;
  background-size: cover;
  background-blend-mode: darken;
  color:#FFFFFF
}

.experience [class*="row"] {
  border-bottom: dotted 1px #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
}

.experience h2 {
  margin-bottom: 0;
  
}

.experience p {
  text-align: left;
}

.roleHead {
  text-align: center;
}

.experience [class*="row"]:last-of-type {
  border: none;
}

@media (min-width: 576px) {
  .experience h2, .experience p {
    text-align: center;
  }
  .experience{background-attachment: fixed;
    background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  color:#FFFFFF
    }
}


/* Education Block */



.education {
  padding: 3em 1em;
  vertical-align: middle;
  text-align: center;
  min-height: 100vh;
  background-color:#dee1e4;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) ), url(https://cdn.glitch.com/4b2d7540-9cfb-4ae0-9c87-cb4795f3a6bd%2FLSE%20Graduation.jpg?v=1567488814669);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  color:#FFFFFF
  }

.education [class*="row"] {
  border-bottom: dotted 1px #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
}

.education h2 {
  margin-bottom: 0;
}

.education h2, .education p {
  text-align: center;
}

.education [class*="row"]:last-of-type {
  border: none;
}

@media screen and (min-width: 40em) {
  .education h2, .education p {
    text-align: center;
  }
  .education{
    background-attachment: fixed;
    text-align:center;
    }
}




/* interests Block */

.interests {
  min-height: 50vh;
  padding: 5em 1em;
  padding: 3em 1em;
  vertical-align: middle;
  text-align: center;
  min-height: 100vh;
  background-color:#dee1e4;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8) ), url(https://cdn.glitch.com/4b2d7540-9cfb-4ae0-9c87-cb4795f3a6bd%2Faerial-aerial-shot-aerial-view-1078981.jpg?v=1568270061184);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  color:#FFFFFF;
  text-align: center;
  vertical-align: middle;
  background-color:#f3f4f5;
}

.interests [class*="row"] {
  border-bottom: dotted 1px #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
}

.interests h2 {
  margin-bottom: 0;
  text-align:center;
}

.interests h2, .interests p {
  text-align: center;!important
  margin-bottom:0px;
}

.interests [class*="row"]:last-of-type {
  border: none;
}

@media (min-width: 576px) {
  .interests h2, .interests p {
    text-align: center;
  }
}



/* projects Block */


.projects {
  padding: 3em 1em;
  min-height: 100vh;
  text-align: center;
  vertical-align: left;
  background: linear-gradient(rgba(52, 58, 64, 0.5) , rgba(52, 58, 64, .7) 500px),url(https://cdn.glitch.com/4b2d7540-9cfb-4ae0-9c87-cb4795f3a6bd%2Farchitect-architecture-black-and-white-1537008.jpg?v=1568271366208);
  background-color:linear-gradient( rgba(0, 0, 0, 1), rgba(52, 58, 64, 1)),#343a40);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%, cover;
  background-blend-mode: darken;
  color:white;

  }

@media (min-width: 768px){
  
  .projects {
  vertical-align: middle;
  padding-top: 100px;
  background-color:linear-gradient( rgba(0, 0, 0, 1), rgba(52, 58, 64, 1)),#343a40);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%, cover;
  background-blend-mode: darken;
  background-attachment: fixed;
  text-align: left;
  color: white;
      }
  .projects h2 {
    color:white
  }
}

.fa-gamepad{
  color:white;
  text-decoration:none;
  
  
}

/*---------------*/
/***** EFFECT *****/
/*---------------*/

figure.effect {
	background: #22A39F;
	color: #FFF;
}

figure.effect img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect:hover img {
	opacity: 0.2;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect figcaption {
	text-align: left;
}

figure.effect h3 {
	position: relative;
	overflow: hidden;
	padding-bottom: 20px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect:hover h3 {
	opacity: 1;
}

figure.effect h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect p {
	padding-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/*---------------------------------*/


.fa-linkedin:hover {
  border: .5px solid #006097;
    background: #006097;
    background-position: left bottom;
    background-position-x: left;
    background-position-y: bottom;
    color: #fff!important;
    transition: all 0.8s ease;
    text-decoration:none;
}

.fa-envelope:hover {
      border: .5px solid #22A39F;
    background: #22A39F;
    background-position: left bottom;
    background-position-x: left;
    background-position-y: bottom;
    color: #fff!important;
  transition: all 0.8s ease;
  text-decoration:none;
  }

.fa-at:hover {
      border: .5px solid #008744;
    background: #008744;
    background-position: left bottom;
    background-position-x: left;
    background-position-y: bottom;
    color: #fff!important;
  transition: all 0.8s ease;
  text-decoration:none;
  }



.pdf:hover{
      border: .5px solid #ff7070;
    background: #ff7070;
    background-position: left bottom;
    background-position-x: left;
    background-position-y: bottom;
    color: #fff!important;
    transition: all 0.8s ease;
    text-decoration:none;
}

.fa-github:hover{
      border: .5px solid black;
    background: black;
    background-position: left bottom;
    background-position-x: left;
    background-position-y: bottom;
    color: #fff!important;
    transition: all 0.8s ease;
   text-decoration:none;
}


.mini {
  padding: 5px;
  font-size: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: black;
  margin-left: 5px;
}

/* Collapsible read more elements */


/* JCDecaux */

.wrap-collabsible-JCD {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle-JCD {
  display: block;

  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;

  padding: 1rem;

  color: #cfd1d1;
  
  border: .5px solid #cfd1d1;
  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle-JCD:hover {
  color: white;
   background:#22A39F;
}

.lbl-toggle-JCD::before {
  content: ' ';
  display: inline-block;
  
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle-JCD:checked + .lbl-toggle-JCD::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content-JCD {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle-JCD:checked + .lbl-toggle-JCD + .collapsible-content-JCD {
  max-height: 100%;
}

.toggle-JCD:checked + .lbl-toggle-JCD {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content-JCD .content-inner-JCD {
  background: rgba(207, 209, 209, .2);
  border-bottom: 1px solid white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
  text-align: left;
}

/* DataLend */

.wrap-collabsible-DL {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle-DL {
  display: block;

  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;

  padding: 1rem;

  color: #cfd1d1;
  
  border: .5px solid #cfd1d1;
  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle-DL:hover {
  color: white;
  background:#22A39F;
}

.lbl-toggle-DL::before {
  content: ' ';
  display: inline-block;
  
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle-DL:checked + .lbl-toggle-DL::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content-DL {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle-DL:checked + .lbl-toggle-DL + .collapsible-content-DL {
  max-height: 100%;
}

.toggle-DL:checked + .lbl-toggle-DL {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content-DL .content-inner-DL {
  background: rgba(207, 209, 209, .2);
  border-bottom: 1px solid white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
  text-align: left;
}

/* SWAPS */

.wrap-collabsible-SW {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle-SW {
  display: block;

  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;

  padding: 1rem;

  color: #cfd1d1;
  
  border: .5px solid #cfd1d1;
  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle-SW:hover {
  color: white;
   background:#22A39F;
}

.lbl-toggle-SW::before {
  content: ' ';
  display: inline-block;
  
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle-SW:checked + .lbl-toggle-SW::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content-SW {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle-SW:checked + .lbl-toggle-SW + .collapsible-content-SW {
  max-height: 100%;
}

.toggle-SW:checked + .lbl-toggle-SW {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content-SW .content-inner-SW {
  background: rgba(207, 209, 209, .2);
  border-bottom: 1px solid white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
  text-align: left;
}


/* EquiLend */

.wrap-collabsible-EL {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle-EL {
  display: block;

  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;

  padding: 1rem;

  color: #cfd1d1;
  
  border: .5px solid #cfd1d1;
  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle-EL:hover {
  color: white;
   background:#22A39F;
}

.lbl-toggle-EL::before {
  content: ' ';
  display: inline-block;
  
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle-EL:checked + .lbl-toggle-EL::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content-EL {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle-EL:checked + .lbl-toggle-EL + .collapsible-content-EL {
  max-height: 100%;
}

.toggle-EL:checked + .lbl-toggle-EL {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content-EL .content-inner-EL {
  background: rgba(207, 209, 209, .2);
  border-bottom: 1px solid white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
  text-align: left;
}

/* Lehman */

.wrap-collabsible-LB {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle-LB {
  display: block;

  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: left;

  padding: 1rem;

  color: #cfd1d1;
  
  border: .5px solid #cfd1d1;
  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle-LB:hover {
  color: white;
}

.lbl-toggle-LB::before {
  content: ' ';
  display: inline-block;
  
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle-LB:checked + .lbl-toggle-LB::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content-LB {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle-LB:checked + .lbl-toggle-LB + .collapsible-content-LB {
  max-height: 100%;
}

.toggle-LB:checked + .lbl-toggle-LB {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content-LB .content-inner-LB {
  background: rgba(207, 209, 209, .2);
  border-bottom: 1px solid white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
  text-align: left;
}
/* --------------------- */